.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}


.panels {
  margin: 0 auto;
  grid-rows: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: solid black 2px; */
}
.panels > div {
border: solid black 2px;
background-size: cover;
background-repeat: no-repeat;
height: 200px;
width: 200px;
}

.welcomemsg{
  grid-row: 1;
}
